:root {
    --text-dark-color: #000;
    --body-background-color: #fff;
    --navbar-project-setting-footer-color: #b5c9ff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: sans-serif, Tahoma;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--body-background-color);
  color: var(--text-dark-color);
}

h1, h2, h3 {
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.75rem;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-dark-color);
}

img {
  display: block;
  width: 100%;
}

/* Navbar */

#navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--navbar-project-setting-footer-color);
}

#nav-list {
  display: flex;
}

#nav-list a {
  display: block;
  font-size: 2rem;
  padding: 2rem;
}

#nav-list a:hover {
  background-color: var(--body-background-color);
}

/* Welcome section */

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* Projects section */

#projects {
  padding: 10rem 0; 
  width: 100%;
  text-align: center;
  border: 2px solid black;
}

#projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
}

@media (max-width: 28.75em) {
  #projects-section-header {
    font-size: 2.25rem;
  }
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 30.625em) {
  #projects-grid {
    grid-template-columns: 1fr;
  }
} 

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  padding: 2rem 0.5rem;
  background-color: var(--navbar-project-setting-footer-color);
}

/* Contact Section */

#contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#contact-section-header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#contact-links a {
  transition: transform 0.3s ease-out;
}

#contact #contact-links a:hover {
  transform: translateY(5px);
}

/* Footer */

footer {
  width: 100%;
  border-top: 2px solid black;
  background-color: var(--navbar-project-setting-footer-color);
}