:root {
    --text-color: black;
    --body-background-color: gray;
    --navbar-footer-color: silver;
    --project-background-color: aqua;
}
  
* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  overflow: auto;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: sans-serif, Tahoma;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
}

h1, h2, h3 {
  font-weight: 700;
  text-align: 700;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

/* Navbar */

#navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid black;
  z-index: 10;
}

#nav-list {
  display: flex;
}

#nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

#nav-list a:hover {
  background-color: var(--body-background-color);
}

/* Welcome section */

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#welcome-section p {
  font-size: 3rem;
  font-weight: 200;
}

/* Projects section */

#projects {
  text-align: center;
  padding: 10rem 2rem;
  border: 1px solid black;
}

#projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
}

@media (max-width: 28.75em) {
  #projects-section-header {
    font-size: 4rem;
  }
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 30.625em) {
  #projects {
    padding: 6rem 1rem;
  }
  #projects-grid {
    grid-template-columns: 1fr;
  }
} 

#projects #projects-grid a {

}

#projects #projects-grid img {
  width: 100%;
  object-fit: cover;
}

#projects #projects-grid .project-title {

}

#projects #projects-grid .project-description {

}

#contact {

}

#contact #contact-section-heading {

}

#contact #contact-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#contact #contact-links a {
  display: block;
  text-decoration: none;
  padding: 0 5px;
  transition: transform 0.3s ease-out;
}

#contact #contact-links a:hover {
  transform: translateY(5px);
}

footer {
  border-top: 1px solid black;
}

footer span {
  float: right;
}